.zodiaccanvas{
  width: 100vw;
  height: 100vw;
}

.titlecontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  zIndex: 999;
}

.titlespan{
    color: white;
    font-size: 10em;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8);
}

.moreinfobutton{
  background-color: lightgray;
  color: white;
}

.docsbutton{
  background-color: blue;
  color: white;
}
