.zodiaccanvas{
  width: 100vw;
  height: 100vh; /* Use 100vh instead of 100vw */
}

.titlecontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 999;
}

.titlespan{
    color: white;
    font-size: 10em;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #a3a3a3, 0 0 30px #a3a3a3, 0 0 40px #a3a3a3, 0 0 55px #a3a3a3, 0 0 75px #a3a3a3;
}

.moreinfobutton{
  background-color: lightgray;
  color: white;
}

.docsbutton{
  background-color: blue;
  color: white;
}
